
<!DOCTYPE html>
<html>
<head>
  <title>Sales Data</title>
  <style>
    .zero-rating {
      background-color: #ffcccb; 
    }
  </style>
</head>
<body>
  <h1>Sales Data</h1>
  <table>
    <thead>
      <tr>
        {{#each sales.[0]}}
          <th>{{@key}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each sales}}
        <tr class="{{#if (rating1 this.Rating 0)}}zero-rating{{/if}}">
          {{#each this}}
            <td>{{{im this}}}</td>
            <td>{{convert this}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>
