


<!DOCTYPE html>
<html>
<head>
  <title>Sales Data</title>
</head>
<body>
  <h1>Sales Data</h1>
  <table>
    <thead>
      <tr>
        {{#each sales.[0]}}
          <th>{{@key}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each sales}}
      {{#if (rating this.Rating)}}
        <tr>
          {{#each this}}
            <td>{{this}}</td>  
            <td>{{{im this}}}</td>
          {{/each}}
        </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</body>
</html>

